/* main body settings */
body{
    font-size: 12pt;
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: Roboto, "Franklin Gothic Medium", Tahoma, sans-serif;
    background-color: lightgrey;
    background-position: fixed;
    box-sizing: border-box;
  
}

html {
    overflow-x: hidden;
  }

/* navigation links in the navbar */

.nav-link{
    font-size: 20pt;
    color: #F24783;
    text-shadow: 7px 7px 6px rgb(0, 0, 0);   
    list-style-type: none;
    
   
}

/* navbar body */

.navbar{
    background-color: #5A1E82;
    max-height: 120px;
	  position: relative;
	/* z-index: 0; */
   
}


/* Image for logo */
#logo {
  max-height: 75px;   
	margin-bottom: 10px;
  border-radius: 0%;
  margin-bottom: 2rem;
  position: relative;

} 

 
/* text on logo */
h1 {
    font-size: 26pt;
    color: white;
    text-align: left;
    font-family: "Franklin Gothic Medium", Tahoma, sans-serif;
    line-height: 50pt;
    text-shadow: 3px 3px 0px black;
    position: sticky;
}


.card.carousel-item {
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    font-family: arial;
    display: flex;
    opacity: 100%;
    
   
  }
  
  .price {
    color: grey;
    font-size: 14pt;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #F24783;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    bottom: 0;
 
    
  }
  
  .card button:hover {
    opacity: 50%;
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem darkslategrey;
  }


.card:hover {
  transform: translateY(-0.5%);
  box-shadow: 0rem 2rem 2rem darkslategrey;
}

.grid {
    display: grid;
    width: 100%;
    grid-gap: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: start;
}
@media (max-width: 60em) {
    .grid {
        grid-gap: 3rem;
   }
}

.controls-top{
    align-items: center;
}

.container2 {
  padding-left: 5%;
  padding-right: 5%;

}

#market.carousel-inner{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 40px;
  align-items: stretch;
  /* padding-left: 3%; */

}

#marketTwo.carousel-inner{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 40px;
  align-items: stretch;
  /* padding-left: 3%; */

}

h2 {
  font-size: 30pt;
  color: black;
  text-align: left;
  font-family: "Franklin Gothic Medium", Tahoma, sans-serif;
  line-height: 50pt;
  text-shadow: 2px 2px 0px white;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

h3 {
  font-size: 16pt;
  margin-top: 1rem;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  max-width: 150px;
  max-height: 150px;
}

.toy2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.toy3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.toy4 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}


.footer-link{
  font-size: 20pt;
  color: #F24783;
  text-shadow: 7px 7px 6px rgb(0, 0, 0);   
  list-style-type: none;
  
 
}

/* footer body */

.footerbar{
  background-color: #5A1E82;
  height: 200px;
position: relative;
z-index: 0;
list-style-type: none;
margin-bottom: 0;
}


.footer-item{
list-style-type: none;
position: relative;
float: center;
vertical-align: center;
padding: 0.5rem;
margin-top: 0.1rem;
}

#myBtn {
	position: relative;
	bottom: 36px;
	float: right;
	width: 180px;
	font-size: 14px;
	border-color: rgba(85, 85, 85, 0.2);
	background-color: rgb(100,100,100);
	padding: 1px;
	border-radius: 4px;
}

#myBtn:hover {
background-color: #7dbbf1;
}


#map {
position: sticky;
float: left;
padding-bottom: 0.2rem;
}

.container {
  text-align: center;
  font-size: 15pt;
  color: white;
  font-family: "Franklin Gothic Medium", Tahoma, sans-serif;
  text-shadow: .5px .5px 0px black;
  z-index: 2;
  position: relative;
  align-items: center;

}